body {
    background-color: var(--backround-color);
    background-attachment: fixed;
    background-image: linear-gradient(133deg,rgba(254,74,75,.15) 5%,rgba(253,157,166,.15) 35%,rgba(106,0,206,.15))
}
:root {
    --paragraph-color: #8e7f93;
    --paragraph-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --backround-color: #f7f7f7;
}
.container {
    background-color: white;
    border: 80px;
    border-radius: 20px;
    max-width: 700px;
    margin: 90px auto;
    padding: 40px;
    text-align: center;
}

h3 {
    font-family: var(--paragraph-font);
    color: plum;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 300px;
}

a {
    color: #8e7f93;
    text-align: center;
}
    
