body {
    background-color: var(--backround-color);
    background-attachment: fixed;
    background-image: linear-gradient(133deg,rgba(254,74,75,.15) 5%,rgba(253,157,166,.15) 35%,rgba(106,0,206,.15))
}
:root {
    --paragraph-color: #8e7f93;
    --paragraph-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --backround-color: #f7f7f7;
}

.container {
    background-color: white;
    border: 80px;
    border-radius: 20px;
    max-width: 700px;
    margin: 90px auto;
    margin-left: 20px auto;
    margin-right: 20px auto;
    padding: 40px;
    text-align: center;
}

button {
    color: white;
    background-color: #e8dbee;
    display: flex;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: medium;
}

h1 {
    color: plum;
    text-align: center;
    font-size: 50px;
    font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

h3 {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    font-size: medium;
    font-weight: 500;
    line-height: 2;
}

a {
    color: white;
    text-decoration: none;
}
.mini {
    font-size: medium;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.blog-link {
    color: #8e7f93;
    text-decoration: underline;
}